h1 {
    text-align:center;
    color: slateblue;
}
h2 {
    text-align:center;
    background-color:SlateBlue;
    color: #eee;
    scroll-margin-top: 10rem;
    /* width: 90%;
    font-size: 20px;
    align-self: center; */
}
@media screen and (max-width:50em){
    h2{scroll-margin-top: 5rem}
}
h3 {text-align:center;}
<!-- 		@media (prefers-color-scheme: dark) {
        svg {background-color: white;}
      } -->
body{
    margin-top: 0;
}
header {
    margin-right:-8px;
    margin-left:-8px;
}

/*For side menu*/
.sideMenuButton {
    font-size: 30px;
    cursor: pointer;
    background-color: #eee;
    color: #aaa;
    padding: 1px 15px 3px 15px;
    border: none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    position: absolute;
    left: 0;
}
.sideMenuButton:hover {
    background-color: #ccc;
}
@media screen and (min-width:50em){
    .sideMenuButton {
        display: none;
    }
}
.sideMenu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #eee; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.2s; 
}
.sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: slateblue;
}
.sideMenu a:hover {
    background-color: #ccc;
}
.sideMenu .sideMenuButtonClose {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 50px;
    padding: 1px 15px 3px 15px;
    cursor: pointer;
    color: #aaa;
    font-size: 30px;
    background-color: #eee;
    padding: 1px 15px 3px 15px;
    border: none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

/*Chapo*/
.chapo {
    background-color: white;
    display: block;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4
}
@media screen and (max-width:50em){
    .chapo h1 {
        font-size: 1.5em;
    }
}
.chapoMenu {
    background-color: white;
    color: black;
    display: block;
    line-height: 1.3;
    overflow: auto;
    width: 100%; 
    z-index: 3
}
@media screen and (max-width:50em){
    .chapoMenu{display:none}
}
.chapoMenuList {
    position: relative;
    contain: content;
    list-style: none; 
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    white-space: nowrap;
    background-color: #eee;
}
.chapoMenuItem {
    display: inline-block;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .6rem;
    padding-bottom: .6rem
}
.chapoMenuItem:hover {
    background-color: #ccc;
}
.chapoMenuItem a {
    color: black;
    text-decoration: none;
}

/*Publications*/

.publicationList {
    list-style-position: inside;
    padding: 0px;
}
.publicationItem {
    background-color: #eee;
    color: black;
    padding: 10px;
    width: 96%;
    border: none;
    text-align: left;
    outline: none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.publicationItem::marker {
    color: slateblue;
    font-weight: bold;
}
.publicationItem:not(:last-child) {
    margin-bottom: 5px;
}
li .publicationTitle {
    /* position: relative;
    left: 20px; */
    width: 96%;
    color: slateblue;
}
li .publicationAuthors {
    /* position: relative;
    left: 4px; */
    width: 96%;
}
.publicationAuthors a {
    color: black;
    text-decoration: none;
    border: none;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.publicationAuthors a:hover {
    background-color: #aaa;
}
li .publicationInfo {
    /* position: relative;
    left: 20px; */
    margin-right: 50px;
    color: rgb(128, 0, 32);
}

/*Collapsible*/
.collapsible{
    position: relative;
}
.collapsibleButton {
    font-size: 15px;
    cursor: pointer;
    background-color: slateblue;
    color: #eee;
    padding: 1px 8px 1px 8px;
    border: none;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    position: absolute;
    top: -18px;
    right: 0px;
}
.dummyButton {
    font-size: 15px;
    background-color: slateblue;
    color: #eee;
    padding: 1px 8px 1px 8px;
    border: none;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.collapsibleButton:hover {
    background-color: rgb(71, 64, 119);
}
.collapsibleContent {
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ccc;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.collapsibleContentTitle {
    text-decoration-line: underline;
    font-weight: bold;
}
.linksList {
    contain: content;
    list-style: none; 
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    white-space: nowrap;
}
.linksItem {
    display: inline-block;
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.linksItem:hover {
    background-color: #aaa;
}
.linksItem a {
    color: black;
    text-decoration: none;
}